<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="homeGOTO()">Home</button>
    <ng-container *ngIf="logUser">
        <button mat-raised-button color="accent" [routerLink]="['/dashboardPage']">Dashboard</button>
    </ng-container>
    <span class="example-spacer1"></span>
    <ng-container *ngIf="logUser">
        <span class="welcomeName">
            <!-- {{"Welcome "+user.displayName}} -->
            Welcome {{name}}
        </span>
    </ng-container>
    <!-- <ng-container *ngIf="authService.$CurrentUser |async as user; else visitor">

        <img src="{{user.photoURL}}" [matMenuTriggerFor]="menu" class="headerImage" alt="">

    </ng-container> -->
    <ng-container *ngIf="!logUser" style="gap: 5px;">
        <button mat-raised-button [routerLink]="['/loginPage']">Login</button>
        <button mat-raised-button [routerLink]="['/signUpPage']">Signup</button>
    </ng-container>
    <ng-container *ngIf="logUser">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">

            <mat-icon [matMenuTriggerFor]="menu">person</mat-icon>
        </button>
    </ng-container>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="logUser">
            <button mat-menu-item (click)="logOut()">Logout</button>
            <button mat-menu-item (click)="profile()">Profile</button>
        </ng-container>
    </mat-menu>
</mat-toolbar>