.example-spacer {
    margin-left: 10%;
}

.example-spacer1 {
    flex: 1 1 auto;
}

.welcomeName {
    position: relative;
    margin-right: 20px;
}

.headerImage {
    height: 60px;
    width: 60px;
    object-fit: contain;
}