<div class="latestBlogsCont">
    <mat-card>
        <div class="latestBlogs" *ngFor='let doc of  blogArray;let i=index'>
            <img mat-card-image src={{doc.imageSrc}} class="imgBlog">
            <!-- <input type="text" class="latestBlogTitle" value={{doc.title}} readonly><br> -->
            <mat-card-title>{{doc.title}}</mat-card-title> <br>
            <!-- <input type="text" class="latestBlogDate" value={{doc.id}} readonly> -->
            <mat-card-content class="discriptionBlog">{{doc.blog}}</mat-card-content>
            <mat-card-actions>


                <button mat-button (click)="sendingBlogID(i)">Read More</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>