.latestBlogsCont {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Wraps content to the next row if the screen is smaller */
  gap: 20px; /* Adds spacing between the items */
  margin-top: 2%;
  margin-bottom: 2%;
}

.latestBlogs {
  display: flex;
  flex-direction: column; /* Ensures content stacks within the card */
  align-items: center;
}

.example-card {
  width: 300px; /* Ensures uniform size for cards */
}

.mat-card-image {
  height: 200px;
  object-fit: cover; /* Adjusts the image to cover the space proportionally */
  margin-top: 5px;
}

.discriptionBlog {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}
