<div class="latestBlogsCont">

    <button mat-raised-button color="warn" [routerLink]="['/addBlog']">Add Blog</button>
    <mat-card>
        <div class="latestBlogs" *ngFor='let doc of  blogArray;let i=index'>
            <img mat-card-image src={{doc.imageSrc}} class="imgBlog">
            <!-- <input type="text" class="latestBlogTitle" value={{doc.title}} readonly><br> -->
            <mat-card-title>{{doc.title}}</mat-card-title> <br>
            <!-- <input type="text" class="latestBlogDate" value={{doc.id}} readonly> -->
            <mat-card-content class="discriptionBlog">{{doc.blog}}</mat-card-content>
            <mat-card-actions>


                <button mat-button (click)="editBlogdata(doc.id)">Edit Blog</button>
                <button mat-button (click)="deleteConfirmation(i,doc.title)">Delete Blog</button>


            </mat-card-actions>
        </div>
        <div class="confirmDelete" [style.display]="deleteConfirm">
            <mat-card>
                <mat-card-title>Confirm delete</mat-card-title>
                <mat-card-subtitle>{{deleteBlogTitle}}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button (click)="cancelDelete()">Cancel</button>
                    <button mat-button mat-raised-button color="warn" (click)="deleteBlogdata()">Delete Blog</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>
</div>