<mat-card class="Signup">
    <form (ngSubmit)="submit()">
        <ng-container *ngIf="authSer.$CurrentUser |async as user">
        </ng-container>
        <div class="uploadImage">
            <img src="{{previewAlt}}" alt="" class="profileimg">
            <input type="file" (change)="uploadedImage($event)" hidden #uploadProfileImg>
            <button mat-mini-fab (click)="uploadProfileImg.click()"><mat-icon>add</mat-icon></button>
        </div>
        <button mat-raised-button color="primary">Upload Image</button>
    </form>
</mat-card>